:root {
  --palette-white: #ffffff;
  --palette-black: #001e2b;

  --palette-gray-dark-3: #21313c;
  --palette-gray-dark-2: #3d4f58;
  --palette-gray-dark-1: #5c6c75;
  --palette-gray-base: #889397;
  --palette-gray-light-1: #c1c7c6;
  --palette-gray-light-2: #e8edeb;
  --palette-gray-light-3: #f9fbfa;

  --palette-green-dark-3: #023430;
  --palette-green-dark-2: #00684a;
  --palette-green-dark-1: #00a35c;
  --palette-green-base: #00ed64;
  --palette-green-light-1: #71f6ba;
  --palette-green-light-2: #c0fae6;
  --palette-green-light-3: #e3fcf7;

  --palette-purple-dark-3: #2d0b59;
  --palette-purple-dark-2: #5e0c9e;
  --palette-purple-base: #b45af2;
  --palette-purple-light-2: #f1d4fd;
  --palette-purple-light-3: #f9ebff;

  --palette-blue-dark-3: #0c2657;
  --palette-blue-dark-2: #083c90;
  --palette-blue-dark-1: #1254b7;
  --palette-blue-base: #016bf8;
  --palette-blue-light-1: #0498ec;
  --palette-blue-light-2: #c3e7fe;
  --palette-blue-light-3: #e1f7ff;

  --palette-yellow-dark-3: #4c2100;
  --palette-yellow-dark-2: #944f01;
  --palette-yellow-base: #ffc010;
  --palette-yellow-light-2: #ffec9e;
  --palette-yellow-light-3: #fef7db;

  --palette-red-dark-3: #5b0000;
  --palette-red-dark-2: #970606;
  --palette-red-base: #db3030;
  --palette-red-light-1: #ef5752;
  --palette-red-light-2: #ffcdc7;
  --palette-red-light-3: #ffeae5;
}

html {
  font-family: "Euclid Circular A", "Akzidenz", Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.darkmode-bg {
  background-color: #001e2b;
}
