.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4em;
  height: 8em;
}

.header_results {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 3em;
  width: 100%;
  border-bottom: var(--palette-gray-light-2) solid 1px;
}
